In [91]:
import pandas_datareader as pdr
import pandas as pd
from datetime import datetime 
microsoft_df = pdr.get_data_yahoo('MSFT')

In [73]:
microsoft_df = microsoft_df.reset_index()
microsoft_df=microsoft_df.set_index('Date', drop=True)
microsoft_df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-04-18  65.709999  65.160004  65.330002  65.389999  15155600.0  61.040585
2017-04-19  65.750000  64.889999  65.650002  65.040001  26992800.0  60.713856
2017-04-20  65.750000  65.139999  65.459999  65.500000  22299500.0  61.143257
2017-04-21  66.699997  65.449997  65.669998  66.400002  32522600.0  61.983402
2017-04-24  67.660004  67.099998  67.480003  67.529999  29770000.0  63.038212

In [105]:
microsoft_df.count()

High         1259
Low          1259
Open         1259
Close        1259
Volume       1259
Adj Close    1259
dtype: int64

In [111]:
##finding the max price of stock in each column

res = []
# go through each stock
for stock in list(microsoft_df):
    df_t =microsoft_df.loc[microsoft_df[stock].idxmax()]
    value = df_t[stock]
    index = df_t.name
    res.append([index, stock, value])

res

[[Timestamp('2021-11-22 00:00:00'), 'High', 349.6700134277344],
 [Timestamp('2021-11-19 00:00:00'), 'Low', 342.20001220703125],
 [Timestamp('2021-11-22 00:00:00'), 'Open', 344.6199951171875],
 [Timestamp('2021-11-19 00:00:00'), 'Close', 343.1099853515625],
 [Timestamp('2018-12-21 00:00:00'), 'Volume', 111242100.0],
 [Timestamp('2021-11-19 00:00:00'), 'Adj Close', 342.4020080566406]]

In [112]:
##finding the min price of stock in each column
res = []
# go through each stock
for stock in list(microsoft_df):
    df_t =microsoft_df.loc[microsoft_df[stock].idxmin()]
    value = df_t[stock]
    index = df_t.name
    res.append([index, stock, value])

res

[[Timestamp('2017-04-18 00:00:00'), 'High', 65.70999908447266],
 [Timestamp('2017-04-19 00:00:00'), 'Low', 64.88999938964844],
 [Timestamp('2017-04-18 00:00:00'), 'Open', 65.33000183105469],
 [Timestamp('2017-04-19 00:00:00'), 'Close', 65.04000091552734],
 [Timestamp('2017-11-24 00:00:00'), 'Volume', 7425600.0],
 [Timestamp('2017-04-19 00:00:00'), 'Adj Close', 60.71385192871094]]