In [3]:
#in this sheet I would like to show different patterns and how 're' works.

import re
import numpy as np
import pandas as pd



#when you only use \w => it means that it will only separate the letters from each other.
pattern1 = re.compile(r'\w')
result1 = pattern1.findall('volvo 123 vx')
result1

['v', 'o', 'l', 'v', 'o', '1', '2', '3', 'v', 'x']

In [4]:
#when you use \w+ => it separates words from each other
pattern2 = re.compile(r'\w+-')
result2=pattern2.findall('volvo 123 vx')
result2

[]

In [5]:
pattern3 = re.compile(r'\w+-?\w+')
result3=pattern3.findall('volvo 123vx')
result3

['volvo', '123vx']

In [10]:
df = pd.DataFrame({'name':['amin 234ld','simin12'],'birthday':['1991-02-22','1992-03-14']},columns=['name','birthday'])
pattern = re.compile(r'\w+-?\w')
df['name']=df['name'].apply(lambda x : re.findall(pattern,x)[0])
df

      name    birthday
0     amin  1991-02-22
1  simin12  1992-03-14